[ttable-multi-prob]
  <CPTS>
[lmodel-file]
  <LMS>
[weight-f] <ENABLE_FTM>
[ttable-limit] 30
[ttable-threshold] 0
[stack] 20000
[beam-threshold] 0.001
[distortion-limit] 7
[distortion-model] WordDisplacement
[segmentation-model] none
[cube-pruning]
[bypass-marked]
